apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: podinfo-app
  namespace: argocd
spec:
  project: default

  source: 
    repoURL: https://github.com/ambarishsatheesh-rs/argocd-test.git
    targetRevision: HEAD
    path: podinfo
  destination:
    server: https://kubernetes.default.svc
    namespace: podinfo

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true